.dialog-subtitle, .dialog-fee {
  font-family: 'Obviously-Bold';
}

.dialog-title,
.dialog-highest-offer-price,
.dialog-total,
.dialog-confirm,
.dialog-delete,
.dialog-delete-action,
.dialog-delete-text-bold,
.dialog-reset {
  font-family: 'ProximaNova-Bold';
}

.dialog-label,
.dialog-terms-conditions,
.dialog-delete-text-light,
.dialog-info {
  font-family: 'ProximaNova-Regular';
}

.dialog-title,
.dialog-subtitle,
.dialog-fee,
.dialog-total,
.dialog-terms-conditions,
.dialog-highest-offer-price,
.dialog-delete-action,
.dialog-delete-text-light,
.dialog-delete-text-bold {
  line-height: 1;
}

.dialog-title,
.dialog-delete-text-light,
.dialog-delete-text-bold {
  color: #212131;
  font-size: 18px;
}

.dialog-delete-text-bold,
.dialog-delete-text-light {
  text-align: center;
  line-height: 1.5;
}

.dialog-subtitle {
  font-family: 18px;
}

.dialog-label {
  color: #9D9D9D;
  font-size: 16px;
}

.dialog-highest-offer-price, .dialog-delete-action {
  color: #212131;
  font-size: 20px;
}

.dialog-fee {
  font-size: 18px;
  color: #212131;
}

.dialog-total {
  color: #212131;
  font-size: 32px;
}

.dialog-input-box .col{
  flex-grow: 0;
  flex-basis: 10vw;
}

.dialog-date-box .col{
  flex-grow: 0;
  flex-basis: 10vw;
}

.dialog-terms-conditions {
  font-size: 16px;
}

.dialog-info {
  color: #3586FF;
  font-size: 14px;
}

.dialog-confirm {
  background: linear-gradient(102.17deg, #3586FF -1.74%, #83E0B3 139.41%);
  border-radius: 6px;
  width: 200px;
  height: 56px;
  color: white;
  font-size: 20px;
}

.dialog-delete {
  background: linear-gradient(270.59deg, #33335B 25.46%, #83E0B3 206.28%);
  border-radius: 6px;
  width: 200px;
  height: 56px;
  color: white;
  font-size: 20px;
}

.dialog-reset {
  background: white;
  border-radius: 6px;
  width: 200px;
  height: 56px;
  font-size: 20px;
}
