.profile-error-container {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 16px !important;
  width: 95vw;
  max-width: 435px !important;
}

.profile-error-title {
  color: #FF9797;
  font-family: 'ProximaNova-Bold';
  text-align: center;
  font-size: 20px;
}

.profile-error-text {
  color: #212131;
  font-size: 18px;
  font-family: 'ProximaNova-Regular';
  text-align: center;
}