.nft-dialog-brand {
  font-family: 'Obviously-Bold';
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
}

.nft-dialog-currency {
  width: 16px;
  height: 16px;
}

.nft-dialog-custom-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.nft-dialog-label {
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
  line-height: 17px;
  color: #212131;
}

.nft-dialog-text-default, .nft-dialog-text-highlight {
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  line-height: 17px;
}

.nft-dialog-text-highlight {
  color: #3586FF;
}

.nft-dialog-text-default {
  color: #212131;
}
