.light-bulb-icon {
  width: 70px;
}

.order-completed-dialog {
  width: 425px;
  border-radius: 16px !important;
  background-color: white;
}

.order-completed-blue-text {
  font-family: 'ProximaNova-Bold';
  font-size: 20px;
  text-align: center;
  color: #3586FF;
}

.order-completed-black-text {
  font-family: 'ProximaNova-Regular';
  font-size: 18px;
  text-align: center;
  color: #212131;
}