.history-container {
	width: 80%;
}

.price-history {
	font-family: 'Obviously';
	font-style: normal;
	font-weight: 450;
	font-size: 20px;
	line-height: 31px;
	display: flex;
	align-items: center;
	color: #212131;
	padding-bottom: 20px;
}

.chart-container {
	width: 100%;
	background: #ffffff;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.radio-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	align-items: center;
	padding-top: 20px;
	padding-left: 8px;
}

.border {
	width: 16px;
	height: 16px;
	border: 1px solid #c0c0c0;
	border-radius: 50%;
	margin-right: 5px;
}

.clicked-radio-button {
	width: 16px;
	height: 16px;
	border: 5px solid #3586ff;
	border-radius: 50%;
	margin-right: 5px;
}

.radio-button-text {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	display: flex;
	align-items: center;
	text-align: center;
	color: #9d9d9d;
}

.average-price {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	letter-spacing: 0.5px;
	color: #9d9d9d;
	padding-left: 35px;
}

.price1 {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #212131;
}

.price2 {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 14px;
	display: flex;
	align-items: center;
	color: #9d9d9d;
	padding-top: 3px;
}

.price-container {
	padding-right: 40px;
	padding-top: 20px;
}

.price-history-rows {
	gap: 8px;
}

.price-table {
	width: 100%;
	padding: 0.6rem;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);

	border-radius: 20px;
}

.each-price-row {
	padding: 10px 12px;
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	color: #212131;
}

.each-price-row:nth-child(even) {
	background: rgba(217, 232, 255, 0.3);
	border-radius: 8px;
}

.user-ids-bold {
	font-family: 'ProximaNova-Bold';
}

.date-of-transaction {
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	/* identical to box height, or 129% */

	/* Gray */

	color: #9d9d9d;
}

@media screen and (max-width: 880px) {
	.history-container {
		width: 95%;
	}
}

@media screen and (max-width: 600px) {
	.chart1 {
		display: flex;
		flex-direction: column-reverse;
		/* align-items: flex-end; */
		/* padding-left: 10px; */
	}
	.price-container {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		width: 100%;
	}
	.average-price {
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.radio-buttons {
		width: 100%;
	}
}

@media screen and (max-width: 405px) {
	#three_months {
		display: none;
	}
	.price-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.chart-container {
		width: 100%;
		background: #ffffff;
		box-shadow: none;
	}
	.price-history {
		padding-bottom: 0px;
	}
}
