.tab-text-clicked {
  font-family: 'Obviously';
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;

  color: #3586ff;
}

.tab-text-not-clicked {
  font-family: 'Obviously';
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;

  color: #9d9d9d;
}
