.tabs-menu * .q-tab__indicator {
	color: #3586ff;
}

.tabs-menu * [aria-selected="false"] > .q-tab__indicator {
	color: #9D9D9D !important;
	opacity: 0.5;
	height: 1px;
}

.tabs-menu * .q-tab--active .q-tab__label {
	color: #3586ff;
}

.tabs-menu * .q-tab__label {
	font-size: 18px;
}

.tabs-menu {
	margin: 2.5rem 20px 0;
	font-family: 'Obviously-Bold' !important;
	color: #9D9D9D;
}