.unavailable-nft-header {
	font-family: 'Obviously-Bold';
	color: #3586ff;
	font-size: 32px;
}

.unavailable-nft-subheader {
	font-family: 'ProximaNova-Bold';
	color: #212131;
	font-size: 20px;
}

.unavailable-nft-icon {
	width: 40vw;
	max-width: 350px;
}

.error-nft-icon {
	width: 15vw;
	max-width: 300px;
}

.empty-nft-icon {
	width: 35vw;
	max-width: 300px;
	min-width: 250px;
}

.error-try-btn {
	justify-content: center;
	align-items: center;
	width: 147px;
	height: 48px;
	background: linear-gradient(270.59deg, #33335b 25.46%, #83e0b3 206.28%);
	border-radius: 6px;
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

.unavailable-nft-text {
	font-family: 'ProximaNova-Regular';
	font-size: 18px;
	color: #212131;
}

.unavailable-nft-header,
.unavailable-nft-subheader,
.unavailable-nft-text {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.unavailable-nft-header {
		margin-top: 80px;
	}

	.unavailable-nft-icon {
		width: 250px;
	}
	.error-nft-icon {
		width: 60vw;
	}
}
