.owned-by,
.wine-description,
.starting-from,
.bid-text {
	font-family: 'ProximaNova-Regular';
}

.list-cancel-fulfill-btn,
.unlist-btn,
.offer-btn {
	width: 205px;
	height: 56px;
	border-radius: 6px;
}

.nft-takeaways-container {
	width: 50%;
}

.metadata-nft-image {
	width: 50%;
	height: 50%;
	max-width: 487px;
}

.metadata-container {
	width: 90%;
}

.owned-by {
	font-size: 14px;
	line-height: 17px;
	align-items: center;
	letter-spacing: 0.5px;
	color: #9d9d9d;
}

.user-id {
	font-family: 'ProximaNova-Bold';
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.03em;
	color: #212131;
}

.metadata-text {
	font-family: 'ProximaNova-Bold';
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #212131;
	opacity: 0.6;
}

.border {
	border-right: 1.08362px solid rgba(94, 151, 236, 0.27);
	padding-left: 10px;
	padding-right: 10px;
}

.wine-description {
	font-size: 18px;
	line-height: 27px;
	color: #212131;
	text-align: left;
	max-height: 81px; /* max line 3 * line-height 27 */
	overflow: hidden;
}

.starting-from {
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	letter-spacing: 0.5px;
	color: #9d9d9d;
}

.price1 {
	font-family: 'ProximaNova-Bold';
	font-size: 32px;
	color: #212131;
}

.price1-blue {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	line-height: 39px;
	align-items: center;
	color: #3586FF;
}

.bid-text {
	font-size: 16px;
	line-height: 19px;
	align-items: center;
	letter-spacing: 0.5px;
	color: #9d9d9d;
}

.bid-price {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #3586ff;
}

.brand-name {
	font-family: 'ProximaNova-Bold';
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	text-align: center;
	color: #212131;
	opacity: 0.6;
}

.wine-name {
	font-family: 'Obviously-Bold';
	font-size: 32px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212131;
}

.list-cancel-fulfill-btn {
	background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
	border: none;
}

.unlist-btn {
	color: #3586ff;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 1px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
}

.unlist-btn:hover {
	box-shadow: none;
	color: white;
}

.metadata-btn-text {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
}

.metadata-btn-text_outline {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
	color: #3586ff;
}

.offer-btn {
	background: linear-gradient(270.59deg, #33335b 25.46%, #83e0b3 206.28%);
}

.update-metadata-text {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #9d9d9d;
	text-transform: none;
}

.update-metadata-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 1100px) {
	.metadata-nft-image {
		width: 40%;
		height: 40%;
	}
	.nft-takeaways-container {
		width: 60%;
	}
}

@media screen and (max-width: 880px) {
	.wine-description {
		font-size: 17px;
	}
	.metadata-container {
		width: 100%;
	}
	.metadata-text {
		font-size: 16px;
	}
}

@media screen and (min-width: 601px) {
	.metadata-price-wrapper {
		margin-left: 10%;
	}
}

@media screen and (max-width: 600px) {
	.price-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 0px;
		width: 100%;
	}
	.metadata-nft-image {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.nft-takeaways-container {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}
	.list-cancel-fulfill-btn,
	.unlist-btn,
	.offer-btn {
		width: 100%;
		max-width: 500px;
	}
	.price1 {
		font-size: 24px;
	}
	.wine-name {
		font-size: 20px;
		line-height: 30px;
	}
	.brand-name, .wine-name {
		width: 90%;
	}
	.wine-description {
		font-size: 16px;
	}
	.metadata-btn-text, .metadata-btn-text_outline {
		font-size: 18px;
	}
}
