.connect-wallet-background {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    289.94deg,
    rgba(33, 33, 49, 0.4) 58.61%,
    rgba(131, 224, 179, 0.4) 108.36%
  );
  backdrop-filter: blur(5px);
  z-index: 200;
  /* opacity: 0; */
  /* transition: transform 2s cubic-bezier(0.63, 0.02, 0.16, 0.98) 0s,
    opacity 2s ease 0s; */
}

.connect-wallet-container {
  background: rgb(245, 245, 245);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 24px;
  gap: 24px;
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #212131;
}

.connect-wallet-btns {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  border: none;
}

.connect-btn {
  background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
  color: white;
}
.no-wallet-btn {
  margin-top: 0.5rem;
  background: linear-gradient(270.59deg, #33335b 25.46%, #83e0b3 206.28%);
  color: white;
}
