body {
	position: relative;
}
.q-page-container {
	height: 100%;
}

.no-scroll {
	overflow-y: hidden;
}

.transition {
	opacity: 1;
	transition: transform 2s cubic-bezier(0.63, 0.02, 0.16, 0.98) 0s,
		opacity 2s ease 0s;
}

.nav-bar {
	background-color: transparent;
	color: #212131;
	backdrop-filter: blur(10px);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.nav-bar-container-left {
	width: 166.198px;
}

.logo {
	width: 100px;
	cursor: pointer;
}

.btn-dropdown-menu {
	box-shadow: none;
	padding-left: 0;
}
.dropdown-center:hover {
	color: #3586ff;
}
.dropdown-center .block {
	transition: color 0.3s ease;
}
.dropdown-center .block:hover {
	color: #3586ff;
}

.btn-dropdown-menu .q-focus-helper {
	display: none;
}

.q-btn-menu-div .q-item {
	border-bottom: 1px solid rgba(94, 151, 236, 0.27);

	font-family: 'Obviously';
	font-style: normal;
	font-weight: 440;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #212131;
}
.q-btn-menu-div .q-item:last-child {
	border-bottom: none;
}
.q-btn-menu-div .q-item .block {
	font-weight: 440;
	font-size: 18px;
	line-height: 28px;
}

.q-btn-menu-div .q-item:hover {
	color: #3586ff;
}
.q-btn-menu-div .q-item .q-focus-helper {
	display: none;
}

.btn-dropdown-help {
	padding-left: 0;
}
.btn-dropdown-help .q-btn-dropdown__arrow {
	margin-left: 0;
	font-size: 1.2rem;
}

.nav-bar-container-center,
.nav-bar-container-center .block {
	gap: 3rem;
	font-family: 'Obviously';
	font-style: normal;
	font-weight: 440;
	font-size: 20px;
	line-height: 31px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #212131;
}

.nav-bar-container-center > div {
	cursor: pointer;
	transition: color 0.3s ease;
}
.nav-bar-container-center > div:hover {
	color: #3586ff;
}

.nav-bar-container-right {
	gap: 1rem;
}
.nav-bar-container-right > img {
	cursor: pointer;
}

.icons {
	width: 38px;
	height: 38px;
	border-radius: 6px;

	transition: background 0.3s ease;
}

.icons:hover {
	background: rgba(94, 151, 236, 0.27);

	border-radius: 6px;
}

.profile-dropdown .q-icon {
	font-size: 38px !important;
	border-radius: 6px;

	transition: background 0.3s ease;
}
.profile-dropdown .q-icon:hover {
	background: rgba(94, 151, 236, 0.27);

	border-radius: 6px;
}

.profile-dropdown .q-btn-item {
	padding: 0;
}

.btn-dropdown-menu .q-btn-dropdown__arrow {
	font-size: 1.2rem !important;
	margin: 0 !important;
	margin-top: 5px !important;
	padding: 0 !important;
}

.profile-dropdown .q-btn-dropdown__arrow {
	margin-top: 4px !important;
}
.profile-dropdown .q-btn-dropdown__arrow:hover {
	background-color: transparent;
}

.burger-menu-icon {
	display: none;
}

.burger-menu-exit-icon {
	cursor: pointer;
}

@media screen and (max-width: 992px) {
	.nav-bar-container-center {
		gap: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.nav-bar-container-center,
	.nav-bar-container-right {
		display: none;
	}
	.burger-menu-icon {
		display: block;
		cursor: pointer;
	}
}

.suggested-wines-background .q-dialog__inner--minimized {
	padding: 1.2rem 5rem 4rem;
	backdrop-filter: blur(5px);
}

.suggested-wines-background .suggested-wines {
	border-radius: 20px;
	box-shadow: none;
	padding: 0.5rem 1.5rem;
}
.suggested-wines-background .q-dialog__inner--minimized > div {
	min-width: fit-content;
	min-height: fit-content;
}

.suggested-wines-background .q-card__section {
	padding: 1rem;
}

.join-wiv-world {
	font-family: 'Obviously-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.02em;

	/* Secondary/dark blue */

	color: #212131;
}

.suggest-trending-today {
	width: 100%;
	background-color: #3586ff;
	color: white;

	font-family: 'ProximaNova-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: flex-end;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.suggested-paragraph {
	padding-bottom: 0 !important;
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	/* or 150% */

	text-align: center;

	/* Secondary/dark blue */

	color: #212131;

	opacity: 0.6;
}

.suggested-wines-section {
	flex-wrap: nowrap;
	padding-bottom: 0 !important;
}

.suggest-wine-name {
	font-family: 'Obviously-Bold';
	font-style: normal;
	font-weight: 460;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.02em;
	color: #212131;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	width: 90%;
}

.suggest-card-individual {
	width: 224px;
}

.suggest-card-img {
	background-color: #e0e4eb;
	width: 100%;
	height: 198px;
}

.suggest-price-container {
	border: 1px solid rgba(94, 151, 236, 0.27) !important;
	border-radius: 6px !important;
}

.suggest-price {
	font-family: 'ProximaNova-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #212131;
}

.suggest-starting-from {
	font-family: 'ProximaNova-All';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	letter-spacing: 0.5px;
	color: #9d9d9d;
}

.suggested-buttons-container {
	gap: 1rem;
}

.suggested-buttons {
	width: 205px;
	border-radius: 6px;
	padding: 0.9rem 0;
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	letter-spacing: 0.07rem;
}

.suggested-show-btn {
	background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
	color: white;
	border: none;
}

.suggested-skip-btn {
	background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	outline: 1px solid #3586ff;
	border: none;
}
