.suggested-wines-background .suggested-wines {
	padding: 0.5rem 0.5rem;
}

.suggested-wines {
	width: 1100px !important;
}

.join-wiv-world {
	font-family: 'Obviously-Bolder';
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-align: center;
	color: #212131;
}

.suggest-trending-today {
	width: 100%;
	background-color: #3586ff;
	color: white;
	font-family: 'ProximaNova-Bold';
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.02em;
}

.suggested-paragraph {
	padding-bottom: 0 !important;
	font-family: 'ProximaNova-Regular';
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #212131;
	opacity: 0.6;
}

.suggested-p-mobile {
	display: none;
}

.suggested-wines-section {
	flex-wrap: nowrap;
	padding-bottom: 0 !important;
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: scroll;
}

.suggested-wines-section::-webkit-scrollbar {
	width: 0px;
	height: 8px; /* Optional: add a height to increase the clickable area */
}

.suggest-wine-name {
	font-family: 'Obviously-Bold';
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #212131;
	order: 1;
	align-self: stretch;
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
	text-overflow: ellipsis;
	max-height: 3;
}

.suggest-card-individual {
	min-width: 150px !important;
	min-height: 150px !important;
}

.suggest-card-img {
	background-color: #e0e4eb;
	width: 100%;
	height: 230px;
}

.suggest-price-container {
	border: 1px solid rgba(94, 151, 236, 0.27) !important;
	border-radius: 6px !important;
}

.suggest-price {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #212131;
}

.suggest-starting-from {
	font-family: 'ProximaNova-All';
	font-size: 16px;
	line-height: 19px;
	display: flex;
	align-items: center;
	letter-spacing: 0.5px;
	color: #9d9d9d;
}

.suggested-skip-button, .suggested-more-button {
	width: 205px;
	height: 56px;
	border-radius: 6px;
}

.suggested-skip-button {
	color: #3586ff;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 1px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
}

.suggested-more-button {
	background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
	border: none;
}

.suggested-skip-text, .suggested-more-text {
	font-family: 'ProximaNova-Bold';
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.02em;
}

.suggested-skip-text {
	color: #3586ff;
}

.suggested-more-text {
	color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .suggested-skip-button, .suggested-more-button {
		width: 100%;
	}
	.suggested-skip-text, .suggested-more-text {
		font-size: 18px;
	}
}
