.header-nfts-title {
  font-family: 'ProximaNova-Regular';
  font-size: 18px;
  color: #212131;
  opacity: 0.6;
}

.header-nfts-count {
  font-family: 'ProximaNova-Bold';
  font-size: 18px;
  color: #212131;
}

.header-clear-btn {
  font-family: 'ProximaNova-Regular';
  font-size: 18px;
  color: #3586FF;
  line-height: 0;
}

.header-filter-chip {
  color: white;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  border-radius: 6px;
}

.header-go {
  border-radius: 6px;
  font-family: 'ProximaNova-Regular';
  width: 45px;
}

.header-search .q-field__native {
  font-family: 'ProximaNova-Regular' !important;
  color: rgba(157, 157, 157, 1);
}

.header-search .q-field__control {
  border-radius: 6px !important;
}

.header-apply {
  font-family: 'ProximaNova-Bold';
  font-size: 18px;
  border-radius: 6px;
}