.container {
  width: 95%;
}

.offers {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #212131;
  opacity: 0.6;
}

.nft-number {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 1px;
  color: #212131;
}

.offer-border {
  border-bottom: 2px solid rgba(94, 151, 236, 0.27);
  transform: rotate(-90deg);
  width: 16px;
}

.radio-button-clicked {
  width: 16px;
  height: 16px;
  border: 4px solid #3586ff;
  border-radius: 50%;
}

.radio-button {
  width: 16px;
  height: 16px;
  border: 1px solid #9d9d9d;
  border-radius: 50%;
}

.radio-button-text {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9d9d9d;
}

.radio-button-text-clicked {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #212131;
}

.container .input {
  border: 1px solid #c0c0c0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 350px;
  margin: 30px auto;
}

.search_wrap .search_box {
  position: relative;
  width: 350px;
  height: 45px;
}
.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 10px 20px; */
  border-radius: 8px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn.btn_common .search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

.search_wrap.search_wrap_2 .search_box .btn {
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search_wrap.search_wrap_2 .search_box .input {
  padding-left: 55px;
}

.go-button {
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color: #3586ff;
  width: 50px;
  cursor: pointer;
}
.button-wrapper {
  padding-left: 2px;
}

.go-text {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.number {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #212131;
}

/* .nft-table {
  width: 90%;
  border: 1px solid rgba(94, 151, 236, 0.27);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
  border-radius: 14px;
} */

.nft-titles-container {
  width: 98%;
  /* border-bottom: 1px solid rgba(94, 151, 236, 0.27); */
}

.nft-cards-container {
  width: 100%;
}

.titles-container {
  width: 70%;
}

.title-text {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #212131;
}

.name-container {
  width: 30%;
}

.wine-name {
  width: 50%;
  font-family: 'Obviously';
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #212131;
}

.second-container {
  width: 60%;
  align-items: center;
  position: relative;
}

.first {
  width: 25%;
  margin-left: -130px;
}

.second {
  width: 25%;
  margin-left: 55px;
}
.wallet {
  width: 25%;
  margin-left: 40px;
  display: flex;
  justify-content: start;
}
.accept {
  width: 10%;
  display: flex;
  justify-content: center;
}

.price1 {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #212131;
  padding-left: 2px;
}

.price3 {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #3586ff;
  padding-left: 2px;
}

.accept-button {
  width: 90px;
  height: 40px;
  background: #3586ff;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.button-accept-text {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

/* .incoming-offer-table:nth-child(even) {
  background-color: red;
} */

table td,
table th {
  padding: 12px 15px;
  text-align: center;
  font-size: 16px;
}

.tr-border {
  border-bottom: 1px solid rgba(94, 151, 236, 0.27);
}

table th {
  color: black;
}

tr:nth-child(even) {
  background-color: rgba(217, 232, 255, 0.3);
  border-radius: 8px;
}

td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container1 {
  width: 95.5%;
  background: #ffffff;
  /* Primary/Light blue */

  border: 1px solid rgba(94, 151, 236, 0.27);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
  border-radius: 14px;
}

.button-image {
  display: none;
}

.nft-item {
  width: 40%;
  text-align: start;
  padding-left: 6px;
}

.ethereum {
  width: 20px;
  height: 20px;
}

.box {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  width: 350px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212131;
}
.button-container {
  width: 90%;
}

.cancel-button {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  border: none;
  width: 150px;
  height: 45px;
  cursor: pointer;
}

.cancel-text {
  background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}

.accept-text {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.85);
}

.accept-offer-button {
  background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
  border-radius: 6px;
  border: none;
  width: 150px;
  height: 45px;
  cursor: pointer;
}

.content {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: 1;
  -webkit-transition: opacity 500ms ease, -webkit-filter 500ms ease;
  transition: opacity 500ms ease, -webkit-filter 500ms ease;
  transition: filter 500ms ease, opacity 500ms ease;
  transition: filter 500ms ease, opacity 500ms ease, -webkit-filter 500ms ease;
  pointer-events: none;
}

.offer-accepted {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #3586ff;
}

.delete-button {
  width: 50px;
  cursor: pointer;
  border: none;
}

.tooltip-container {
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #d1e0f7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 200px;
}

.tooltip-title {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #212131;
}

.tooltip-from {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #212131;
}

.tooltip-price {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #212131;
  padding-left: 4px;
}

.search-item-hidden {
  display: none;
}
/*
.triangle {
  background-color: red;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  right: 10px;
} */

/*Resposniveness */

@media screen and (max-width: 1120px) {
  .item2 {
    width: 20%;
  }
  .item3 {
    width: 20%;
  }
}

@media screen and (max-width: 1200px) {
  .from {
    display: none;
  }
  .nft-image {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .nft-item {
    width: 180px;
  }
  .floor-price {
    display: none;
  }
  .offer-container {
    display: flex;
    flex-direction: column;
  }
  .offer-container-first-part {
    display: flex;
    justify-content: flex-start;
    width: 95%;
  }
  /* .item4 {
    display: flex;
  } */
  .item6 {
    display: flex;
    flex-direction: column;
    height: 120px;
  }
  .search_wrap {
    margin: 10px auto;
  }
  .search-item {
    margin-bottom: -5px;
    display: flex;
  }
  .pagination {
    display: flex;
    padding-left: 320px;
  }
}

@media screen and (max-width: 880px) {
  .nft-item {
    width: 170px;
    padding-left: 0;
    font-size: 15px;
  }

  .accept-button {
    width: 40px;
  }
  .button-accept-text {
    font-size: 15px;
  }
  .button-accept-text {
    display: none;
  }
  .button-image {
    display: flex;
    justify-content: center;
    width: 25px;
    height: 20px;
  }
  .item2 {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .search-item-hidden {
    display: flex;
    flex-direction: row;
  }
  .search-item {
    display: none;
  }
  .offer-container-first-part {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .accept-button {
    width: 40px;
  }
  .offer-container {
    display: none;
  }
  .pagination {
    display: none;
  }
  .search_wrap .search_box {
    position: relative;
    width: 300px;
    height: 45px;
  }
  .search_wrap_2 {
    width: 300px;
  }
  .button-wrapper {
    padding-right: 0px;
  }

  .nft-item {
    width: 75px;
  }

  .exp-on {
    width: auto;
  }

  .item2 {
    width: 40%;
  }
  .price3 {
    font-size: 18px;
  }
  .ethereum {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 400px) {
  .nft-item {
    width: auto;
    font-size: 14px;
  }
  .item2 {
    width: 35%;
  }

  .slash {
    display: none;
  }
  .price-mobile-container {
    display: flex;
    flex-direction: column;
  }
  .search_wrap .search_box {
    position: relative;
    width: 220px;
    height: 45px;
  }
  .search_wrap_2 {
    width: 220px;
  }
  .button-wrapper {
    padding-right: 0px;
  }
  .price3 {
    font-size: 18px;
  }

  .container1 {
    width: 100%;
    background: transparent;
    /* Primary/Light blue */

    border: none;
    box-shadow: none;
    border-radius: none;
  }

  .exp-on {
    display: none;
  }
  .tr-border {
    border-top: 1px solid rgba(94, 151, 236, 0.27);
  }
}
