.mobile-tabs {
  display: none;
}

.offer-mobile-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 0.6;
}

.mobile-tabs {
  background: linear-gradient(102.17deg, #3586ff -1.74%, #83e0b3 139.41%);
}

.mobile-nft-number {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 1px;

  color: #ffffff;
}

.q-btn-dropdown {
  background: #ffffff;
  border: 1px solid rgba(94, 151, 236, 0.27);
  border-radius: 4px;
}

.q-btn__content {
  font-family: 'ProximaNova-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #212131;
}

@media screen and (max-width: 600px) {
  .desktop-tabs {
    display: none;
  }
  .mobile-tabs {
    display: flex;
  }
}
