.error-header {
  font-family: 'Obviously-Bold';
  color: #3586ff;
  font-size: 32px;
  text-align: center;
}

.error-subheader {
  font-family: 'ProximaNova-Bold';
  color: #213121;
  font-size: 20px;
  text-align: center;
}

.error-subtext {
  font-family: 'ProximaNova-Regular';
  font-size: 18px;
  text-align: center;
  color: #212131;
}

.error-subtext img {
  display: inline-block;
  vertical-align: middle;
}

.error-btn {
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 48px;
  background: linear-gradient(270.59deg, #33335B 25.46%, #83E0B3 206.28%);
  border-radius: 6px;
  font-family: 'ProximaNova-Bold';
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
