.exclusive-offer-title {
	font-family: 'Obviously-Bold';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212131;
}

.exclusive-card {
	font-family: 'Obviously-Bolder';
  font-size: 18px;
  font-weight: 460;
}

.exclusive-card-container {
	transition: 0.2s;
}

.exclusive-card-container:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}

.exclusive-card-image {
  border-radius: 6px !important;
}

.exclusive-card-brand {
  height: 57px;
  line-height: 1.2;
}

.exclusive-price-header {
  line-height: 1;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  color: #9d9d9d;
}

.exclusive-price-container {
  background: linear-gradient(
    109.05deg,
    rgba(255, 255, 255, 0.13) 15.61%,
    rgba(255, 255, 255, 0.04) 98.78%
  );
  border: 1px solid rgba(94, 151, 236, 0.27) !important;
  backdrop-filter: blur(20px);
  border-radius: 6px !important;
  padding-left: 8px;
  padding-right: 8px;
	border: 1px solid rgba(94, 151, 236, 0.27) !important;
	border-radius: 6px !important;
}

.exclusive-price-text-b-active,
.exclusive-price-text-b-inactive {
  font-family: 'ProximaNova-Bold';
  font-size: 20px;
  color: rgba(33, 33, 49, 1);
  line-height: 0.8;
}

.exclusive-offer-container::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

.exclusive-price-container {
  border: 1px solid rgba(94, 151, 236, 0.27) !important;
  border-radius: 6px !important;
}

.go-to-marketplace-wrapper {
	width: 86.5%;
	margin: 0 auto;
}

@media screen and (min-width: 1025px) {
  .exclusive-card-container {
    width: 23%;
  }
	.exclusive-offer-container {
		max-width: 80vw;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1024px) {
  .exclusive-card-container {
    width: 32%;
  }
	.exclusive-offer-container {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media screen and (max-width: 768px) {
  .exclusive-card-container {
    width: 48%;
  }
}

@media screen and (max-width: 350px) {
  .exclusive-price-text-b-inactive {
    font-size: 14px;
  }
  .exclusive-price-text-b-active {
    font-size: 16px;
  }
  .exclusive-price-header {
    font-size: 14px;
  }
  .exclusive-card {
    font-size: 16px;
  }
}

