.faq-title {
  font-family: 'Obviously';
  font-style: normal;
  font-weight: 470;
  font-size: 32px;
  line-height: 50px;

  letter-spacing: 0.03em;

  color: #212131;
}

.faq-small-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #212131;

  opacity: 0.6;
}

.my-card {
  background: #ffffff;
  border: 1px solid rgba(94, 151, 236, 0.27);
  border-radius: 8px;
  width: 250px;
  height: 220px;
}

.faq-image {
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 3px;
}

.faq-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* line-height: 27px; */

  color: #212131;
}
