.faq-title {
	font-family: 'Obviously-Bolder-2';
	font-size: 32px;
	line-height: 50px;
	letter-spacing: 0.03em;
	color: #212131;
	text-align: center;
}

.my-card {
	max-width: 300px;
}

.faq-number {
	font-family: 'Obviously-Boldest';
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	letter-spacing: 0.1em;
	height: 38px;
	color: rgba(94, 151, 236, 0.27);
}

.card-align-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.card-align-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.faq-container {
	background: linear-gradient(
		to bottom,
		rgba(217, 232, 255, 0.3) 55%,
		white 45%
	);
	position: relative;
}

.rocket {
	width: 200px;
	position: absolute;
	right: -50px;
	top: -70px;
}

.faq-small-text {
	font-family: 'ProximaNova-Regular';
	font-size: 24px;
	line-height: 36px;
	color: #212131;
	opacity: 0.6;
}

.faq-cards-container {
	width: 1250px;
}

.my-card {
	background: #ffffff;
	border: 1px solid rgba(94, 151, 236, 0.27);
	border-radius: 8px;
	box-shadow: none;
	height: 250px;
}

.faq-text {
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #212131;
}

.still-have-question {
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #212131;
	text-align: center;
}

.contact-us {
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.02em;
	text-decoration: underline;
	color: #3586ffd1;
	cursor: pointer;
}

.bold-text {
	font-family: 'ProximaNova-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #212131;
}

/* @media screen and (max-width: 1400px) {
	.rocket {
		top: 2rem;
	}
} */
@media screen and (max-width: 1300px) {
	.faq-cards-container {
		width: 100%;
	}
	/* .rocket {
		right: -4rem;
	} */
}

@media screen and (max-width: 1023px) {
	.faq-title {
		font-size: 28px;
	}
	.faq-small-text {
		font-size: 18px;
	}
	.faq-cards-container {
		width: 80%;
	}
	/* .rocket {
		right: 0rem;
	} */
	.faq-container {
		background: linear-gradient(
			to bottom,
			rgba(217, 232, 255, 0.3) 50%,
			white 50%
		);
	}
}

@media screen and (max-width: 772px) {
	.rocket {
		display: none;
	}
	.faq-cards-container {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.faq-cards-container {
		width: 80%;
	}
	.faq-container {
		background: linear-gradient(
			to bottom,
			rgba(217, 232, 255, 0.3) 20%,
			white 80%
		);
	}
}
@media screen and (max-width: 400px) {
	.faq-cards-container {
		width: 100%;
	}
}
@media screen and (max-width: 300px) {
	.my-card {
		height: 280px;
	}
}
