/* .footer-container {
	background: #212131;
	min-height: 300px;
	width: 100%;
} */

.footer-bold {
	font-family: 'ProximaNova-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}


.footer-normal {
	font-family: 'ProximaNova-All';
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.footer-bold:hover,
.footer-normal:hover
{
	text-decoration: underline;
}

.no-underline {
	text-decoration: none !important;
}
.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background: #212131;
}

.item-title {
	font-family: 'ProximaNova-Bold';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.item-text {
	font-family: 'ProximaNova-Regular';
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.wiv-image {
	width: 100px;
	height: 100px;
}

.wiv-image-wrapper {
	padding-left: 15px;
}
.footer-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: center; */
	width: 99%;
	padding-left: 15px;
}

.footer-item-wrapper {
	display: flex;
	flex-direction: column;
}

.first-div-appear {
	display: none;
}

.third-div-wrapper {
	display: none;
}

.fifth-div-wrapper {
	display: none;
}

.fourth-400-item {
	display: none;
}

.fifth-item-400 {
	display: none;
}

@media screen and (max-width: 992px) {
	.first-div-appear {
		display: flex;
		flex-direction: column;
		padding-top: 15px;
	}
	.first-item {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.third-div-wrapper {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}
	.third-item {
		display: none;
	}

	.fifth-div-wrapper {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}

	.fifth-item {
		display: none;
	}

	.footer-wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.fourth-400-item {
		display: flex;
		padding-top: 20px;
	}
	.footer-nft-400-disappear {
		display: none;
	}
	.fifth-item-400 {
		display: flex;
		padding-top: 20px;
	}
	.fifth-div-wrapper {
		display: none;
	}

	/* .fifth-item {
		display: none;
	} */

	.footer-wrapper {
		width: 95%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
